.item_search {
    width: 243px;
    height: 32px;
    float: left;
}

.table_header .search_area {
    float: left;
    padding-left: 18px;
}
.table_header select {
    float: left;
}

ul.export_setting {
    float: right;
}
ul.export_setting li {
    float: left;
    width: 24px;
    margin-right: 16px;
}
.table_header {
    padding-top: 35px;
    display: block;
    float: left;
    width: 100%;
}
ul.export_setting li i {
    color: #597074;
    font-size: 24px;
}

ul.export_setting {
    float: right;
}
.table_list{
    padding: 0px;
}
.table_wrp{
    padding:0px;
}
ul.export_setting li.create button {
    background: transparent linear-gradient(180deg, #597074 0%, #8BADB2 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    color: white;
    font-size: 20px;
    border: inherit;
    border-radius: 20px;
    padding: 3px 7px 3px 6px;
    bottom: 5px;
    position: relative;
    width: 132px;
}
ul.export_setting li.create {
    width: 100px;
}
.export_setting .img_icon{
    width: 24px;
    height: 24px;
}

ul.export_setting li.create {
    width: 121px;
    height: 32px;
}

.search_area select {
    width: 76px;
    height: 32px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #C2C2C2;
    border-radius: 4px;
    background-color: white;
    background-image: url(../images/icons/select_arrow_down.jpg);
    -webkit-appearance: none;
    background-size: 15px 14px;
    background-repeat: no-repeat;
    background-position: 49px;
    padding-left: 21px;
}
.table_list {
    padding: 0px;
    float: left;
    width: 98%;
    margin-left: 15px;
}
table#mastertable {
    background: white;
    border-radius: 12px;
    box-shadow: 0px 3px 6px #00000029;
}


button.btn.table_search_button {
    position: relative;
    right: 40px;
}

.som-pos.modal-open .modal-dialog {
    width: 800px;
    max-width: 800px;
}
.som-pos.modal-open .radio_div_group .radio_check {
    width: 27px;
    height: 27px;
    content: '';
    border: solid 1px;
    border-radius: 50%;
    float: left;
    background: #fff;
    margin-right: 14px;
    cursor: pointer;
}

.som-pos.modal-open .radio_div_group  .radio_check.checked{
    background: #4F6D70;
}
.som-pos.modal-open .radio_check.checked:before {
    width: 15px;
    height: 15px;
    content: '';
    background: #ffffff;
    display: block;
    border-radius: 50%;
    margin: 5px auto 0px auto;
   
}


.som-pos.modal-open .radio_div_group {
    float: left;
    width: 145px;
}
.som-pos.modal-open .radio_div_wrp.status {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    width: 78%;
    height: 69px;
    padding-top: 20px;
    padding-left: 29px;
}
.som-pos.modal-open #MasterCustomerModal .modal-dialog {
    width: 916px;
    max-width: 916px;
}
.som-pos.modal-open input{
    height: 32px;
}
.modal_form label.col-form-label {
    color: #555555;
    font: normal normal normal 16px/19px Roboto;
    font-weight: 500;
}
.status {
    float: left;
    width: 100%;
}
input#card_id {
    width: 495px;
}
.inputs-3-row .form-control {
    width: 230px;
    height: 32px;
}
.modal img.confirm-image {
    width: 96px;
    height: 96px;
    display: block;
    margin: 0px auto;
}
.modal .confirm-modal-body p {
    text-align: center;
    color: #333333;
    font-size: 21px;
    margin-top: 24px;
}
.modal .confirm-modal-title {
    font-size: 28px;
    color: #597074;
    
    font-weight: 500;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #4F6D70;
    font-size: 24px;
}
.modal-header>button {
    position: absolute;
    top: 25px;
    right: 41px;
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    padding: 0px !important;
}
li.nav-item.dropdown.user-menu a {
    display: inline-block;
}
li.nav-item.dropdown.user-menu a.logout {
    color: #597074;
}
.modal-header {
    display: block;
    text-align: left;
    padding-left: 0;
}
.modal-footer.confirm-modal-footer button.save {
    background: #597074;
    box-shadow: 0px 3px 6px #00000029;
    border: initial;
}
.modal-footer button.btn.btn-primary.save {
    background: transparent linear-gradient(180deg, #597074 0%, #8BADB2 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    width: 109px;
    height: 32px;
    border-radius: 17px;
    padding-top: 3px;
    border: inherit;
}
.modal-footer.confirm-modal-footer {
    width: 100%;
    display: block;
    text-align: center;
}
.modal-footer.confirm-modal-footer button {
    width: 113px;
    height: 36px;
    border-radius: 18px;
}
.modal-footer.confirm-modal-footer .cancel-confirm-modal {
    background: white;
    color: #597074;
    border: inherit;
    box-shadow: 0px 3px 6px #00000029;
}
.radio_check .radio_checkbox{
display: none;
}
.modal-body.confirm-modal-body p:after {
    background: #B7B7B7;
    content: '';
    width: 94%;
    height: 1px;
    display: block;
    margin: 34px auto 0px auto;
}
.modal-content {
    border-radius: 25px;
    box-shadow: 0px 5px 10px #0000004D;
    background: #F7F7F8;
    padding: 0 35px;
}
.modal-body {
    background: white;
    border-radius: 28px;
    padding: 30px 20px 20px 30px;
}

.modal-header>button {
    position: absolute;
    top: 25px;
    right: 41px;
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    padding: 0px !important;
}
td.master_list_col input {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 0;
    top: 2px;
}
input.form-check-input.master_list_check_all {
    position: relative;
    margin-right: 7px;
    margin-left: 0px;
}
.action_wrp{
    position: relative;
    width: 100px;
}
.action_button {
    width: 41px;
    height: 41px;
    display: block;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    cursor: pointer;
}
.action_button span {
    display: block;
    color: #597074;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    line-height: 100%;
}
.action_list {
    position: absolute;
    width: 120px;
    height: 102px;
    opacity: 1;
    right: 20px;
    padding-top: 4px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    display: none;
    z-index: 99;
}
.action_list ul {
    list-style: none;
    padding-left: 0;
    margin-left: 15px;
}
.action_list ul li{
    cursor: pointer;
    list-style: none;
    display: block;
}

.action_list ul li span{
    display: inline-block;
}

.action_wrp.active .action_list {
    display: block;
}
.action_list li:not(last-child) {
    margin-bottom: 13px;
}
.action_list ul li {
    list-style: none;
    display: block;
}
.action_list li .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.action_list li .icon img{
    width: 100%;
}
.som-pos.modal-open .gender .radio_div_group:last-child {
    margin-left: 18px;
}

.som-pos.modal-open .gender .radio_div_group {
    width: 106px;
}
.som-pos.modal-open input{
    height: 32px;
}

.inputs-3-row .col-sm-4 {
    padding-left: 6px;
    margin-left: 0px;
}

.label-top label {
    padding-left: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
}
select {
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #C2C2C2;
    border-radius: 4px;
    background-color: white;
    background-image: url(../images/icons/select_arrow_down.jpg);
    -webkit-appearance: none;
    background-size: 15px 14px;
    background-repeat: no-repeat;
    background-position: right 12px center;
    padding-left: 21px;
}
.gender select{
    width: 122px;
height: 32px;
}
.gender label {
    margin-bottom: 20px;
}
.block{
    display: block;
}
.som-pos.modal-open  .phone-block{
    display: flex;
}
.som-pos.modal-open .phone-block .phone_code {
    width: 82px;
    height: 32px;
    text-overflow: clip;
    padding-right: 41px;
    margin-right: 10px;
    line-height: 100%;
}
.som-pos.modal-open input#phone_number {
    width: 230px;
}


.som-pos.modal-open  input#email {
    /* width: 121px; */
    width: 230px;
}
.address-block select:not(:last-child) {
    width: 230px;
    float: left;
    margin-right: 40px;
    margin-top: 15px;
}
.address-block input{
    width: 230px;
    float: left;
}
.address-block .form-control {
    margin-right: 0px;
    padding-right: 0;
}
select#city {
    margin-right: 0;
}
input#poscode {
    margin-top: 15px;
}
.address-block {
    margin-top: 40px;
}

select#tax_address_city {
    margin-right: 0;
}


input#tax_address_poscode {
    margin-top: 15px;
}
.ship-address-block {
    margin-top: 20px;
}

li.nav-item.menu-is-opening .list_with_sub {
    background: transparent linear-gradient(180deg, #597074 0%, #8BADB2 100%) 0% 0% no-repeat padding-box;
    border-radius: 0;
}
li.nav-item.menu-is-opening .list_with_sub a{
    color: white;
}
li.nav-item.menu-is-opening a.nav-link.list_with_sub {
    color: white !important;
}
li.nav-item a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.nav-item span.nav-link.list_with_sub{
    width: 100% !important;
    display: block;
    padding-bottom: 15px;
    cursor: pointer;
    padding-top: 15px;
}
li.nav-item.menu-is-opening span.nav-link.list_with_sub {
    width: 100% !important;
    display: block;
    cursor: pointer;
    margin-right: 0;

    color: white !important;
    padding-bottom: 15px;
    padding-top: 15px;
}

span.nav-link.list_with_sub .arrow {
    top: 16px;
}
.nav-sidebar .menu-is-opening>.nav-link i.right, .nav-sidebar .menu-is-opening>.nav-link svg.right, .nav-sidebar .menu-open>.nav-link i.right, .nav-sidebar .menu-open>.nav-link svg.right {
    -webkit-transform: rotate(-90deg);
    transform: rotate(180deg);
}

nav.user_nav h2 {
    color: #8BADB2;
    font-size: 18px;
    padding-left: 16px;
    padding-bottom: 12px;
    padding-top: 12px;
    position: relative;
    border-bottom:inherit;
}
nav.user_nav h2:after {
    display: block;
    width: 93%;
    height: 2px;
    margin: 0px auto;
    content: '';
    background: #8BADB2;
    left: 9px;
    position: absolute;
    margin-top: 10px;
    text-align: center;
}
ul.nav.nav-treeview li {
    padding-left: 40px;
}
ul.nav.nav-treeview li>a {
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #597074;
}
.pos-menu-icon {
    display: inline-block;
    width: 32px;
    background-size: contain;
    height: 32px;
    content: '';
}
.pos-menu-icon.master-icon{
    background-image: url('../images/icons/crown.png');
}

.dashboard-icon{
    background-image: url('../images/icons/home.png') !important;
}
.general-info-icon{
    background-image: url('../images/icons/business-and-trade-2.png') !important;
}
.menu-is-opening .pos-menu-icon.master-icon, .menu-is-opening .icon-sub-treemenu-arrow{
    filter: brightness(0) invert(1);
}

.list_with_sub span.menu-text {
    vertical-align: top;
    position: relative;
    top: 6px;
    left: 11px;
}
i.icon-sub-treemenu-arrow {
    width: 14px;
    height: 14px;
    display: inline-block;
    content: '';
    background-image: url(../images/icons/down-arrow-5.png);
    background-size: contain;
}
p>i.icon-sub-treemenu-arrow {
    width: 14px;
    height: 14px;
    display: inline-block;
    content: '';
    background-image: url(../images/icons/down-arrow-5.png);
    background-size: contain;
    top: 23px !important;
}
span.nav-link.list_with_sub span.menu-text {
    font-size: 16px;
    left: 11px;
}

div.icon-create-plus {
    display: inline-block;
    border-radius: 50%;
    border: solid 3px #fff;
    width: 23px;
    height: 23px;
    vertical-align: text-top;
    margin-top: 2px;
    position: relative;
    right: 3px;
}
div.icon-create-plus>span {
    vertical-align: sub;
    display: inline-block;
    line-height: 100%;
    font-weight: 900;
}
.som-pos thead {
    height: 65px;
}

.som-pos .table thead th {
    vertical-align: middle;
}
.table td, .table th{
    vertical-align: middle;

}

.som-pos h1 {
    font: normal normal normal 20px/24px Roboto;
    margin-left: 20px;
    margin-bottom: 25px;
    font-weight: 600;
}
header.header_login .logo {
    width: 67px;
    padding-top: 11px;
}
.icon-single-menu {
    margin-right: 10px;
}
.search_area select {
    margin-right: 17px;
}
