.item_search {
    width: 243px;
    height: 32px;
    float: left;
}

.table_header .search_area {
    float: left;
    padding-left: 18px;
}
.table_header select {
    float: left;
}

ul.export_setting {
    float: right;
}
ul.export_setting li {
    float: left;
    width: 24px;
    margin-right: 16px;
}
.table_header {
    padding-top: 35px;
    display: block;
    float: left;
    width: 100%;
}
ul.export_setting li i {
    color: #597074;
    font-size: 24px;
}

ul.export_setting {
    float: right;
}
.table_list{
    padding: 0px;
}
.table_wrp{
    padding:0px;
}
ul.export_setting li.create button {
    background: transparent linear-gradient(180deg, #597074 0%, #8BADB2 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    color: white;
    font-size: 20px;
    border: inherit;
    border-radius: 20px;
    padding: 3px 30px 3px 30px;
    bottom: 5px;
    position: relative;
}
ul.export_setting li.create {
    width: 100px;
}
.export_setting .img_icon{
    width: 24px;
    height: 24px;
}

ul.export_setting li.create {
    width: 121px;
    height: 32px;
}

.search_area select {
    width: 76px;
    height: 32px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #C2C2C2;
    border-radius: 4px;
    background-color: white;
    background-image: url(../images/icons/select_arrow_down.jpg);
    -webkit-appearance: none;
    background-size: 15px 14px;
    background-repeat: no-repeat;
    background-position: 49px;
    padding-left: 21px;
}
.table_list {
    padding: 0px;
    float: left;
    width: 98%;
    margin-left: 15px;
}
table#mastertable {
    background: white;
    border-radius: 12px;
    box-shadow: 0px 3px 6px #00000029;
}


button.btn.table_search_button {
    position: relative;
    right: 40px;
}

.som-pos.modal-open .modal-dialog {
    width: 800px;
    max-width: 800px;
}
.som-pos.modal-open .radio_div_group .radio_check {
    width: 27px;
    height: 27px;
    content: '';
    border: solid 1px;
    border-radius: 50%;
    float: left;
    background: #fff;
    margin-right: 14px;
    cursor: pointer;
}

.som-pos.modal-open .radio_div_group  .radio_check.checked{
    background: #4F6D70;
}
.som-pos.modal-open .radio_check.checked:before {
    width: 15px;
    height: 15px;
    content: '';
    background: #ffffff;
    display: block;
    border-radius: 50%;
    margin: 5px auto 0px auto;
   
}


.som-pos.modal-open .radio_div_group {
    float: left;
    width: 145px;
}
.som-pos.modal-open .radio_div_wrp.status {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    width: 78%;
    height: 69px;
    padding-top: 20px;
    padding-left: 29px;
}

.status {
    float: left;
    width: 100%;
}
.modal img.confirm-image {
    width: 96px;
    height: 96px;
    display: block;
    margin: 0px auto;
}
.modal .confirm-modal-body p {
    text-align: center;
    color: #333333;
    font-size: 21px;
    margin-top: 24px;
}
.modal .confirm-modal-title {
    font-size: 28px;
    color: #597074;
    
    font-weight: 500;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #4F6D70;
    font-size: 24px;
}
.modal-header>button {
    position: absolute;
    top: 25px;
    right: 41px;
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    padding: 0px !important;
}
.modal-header {
    display: block;
    text-align: left;
    padding-left: 0;
}
.modal-footer.confirm-modal-footer button.save {
    background: #597074;
    box-shadow: 0px 3px 6px #00000029;
    border: initial;
}
.modal-footer.confirm-modal-footer {
    width: 100%;
    display: block;
    text-align: center;
}
.modal-footer.confirm-modal-footer button {
    width: 113px;
    height: 36px;
    border-radius: 18px;
}
.modal-footer.confirm-modal-footer .cancel-confirm-modal {
    background: white;
    color: #597074;
    border: inherit;
    box-shadow: 0px 3px 6px #00000029;
}
.radio_check .radio_checkbox{
display: none;
}
.modal-body.confirm-modal-body p:after {
    background: #B7B7B7;
    content: '';
    width: 94%;
    height: 1px;
    display: block;
    margin: 34px auto 0px auto;
}
.modal-content {
    border-radius: 25px;
    box-shadow: 0px 5px 10px #0000004D;
    background: #F7F7F8;
    padding: 0 35px;
}
.modal-body {
    background: white;
    border-radius: 28px;
    padding: 30px 20px 20px 30px;
}

.modal-header>button {
    position: absolute;
    top: 25px;
    right: 41px;
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    padding: 0px !important;
}
td.master_list_col input {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 0;
    top: 2px;
}
input.form-check-input.master_list_check_all {
    position: relative;
    margin-right: 7px;
    margin-left: 0px;
}
.action_wrp{
    position: relative;
    width: 100px;
}
.action_button {
    width: 41px;
    height: 41px;
    display: block;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    cursor: pointer;
}
.action_button span {
    display: block;
    color: #597074;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    line-height: 100%;
}
.action_list {
    position: absolute;
    width: 120px;
    height: 102px;
    opacity: 1;
    right: 20px;
    padding-top: 4px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    display: none;
    z-index: 99;
}
.action_list ul {
    list-style: none;
    padding-left: 0;
    margin-left: 15px;
}
.action_list ul li{
    cursor: pointer;
    list-style: none;
    display: block;
}

.action_list ul li span{
    display: inline-block;
}

.action_wrp.active .action_list {
    display: block;
}
.action_list li:not(last-child) {
    margin-bottom: 13px;
}
.action_list ul li {
    list-style: none;
    display: block;
}
.action_list li .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.action_list li .icon img{
    width: 100%;
}